# Auto detect text files and perform LF normalization
* text=auto
**/Figure_1E.csv filter=lfs diff=lfs merge=lfs -text
**/Figure_2D.csv filter=lfs diff=lfs merge=lfs -text
user_data/*.csv filter=lfs diff=lfs merge=lfs -text
user_data/*.txt filter=lfs diff=lfs merge=lfs -text
source_data/batli_trajectories/*.csv filter=lfs diff=lfs merge=lfs -text
results_*.zip filter=lfs diff=lfs merge=lfs -text
