<!DOCTYPE html>
<html lang="en">
<head>
    <!-- rest of the header from the original file -->
    <title>Loader - Backward Analysis of Time-Lapse Images</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico" />
    <style>
        #currentDataset,
        #percentageInput {
          font-size: 12px;
          line-height: 0.5;
        }
    </style>
</head>
<body>
    <nav>
        <a href="/cleaner">Cleaner</a>
        <a href="/loader">Loader</a>
        <a href="/viewer">Viewer</a>
    </nav>
    <h2>Dataset</h2>
    <p style="font-size: 12px;">Current Dataset: <span id="currentDataset"></span></p>
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            const currentDatasetFilename = localStorage.getItem('currentDatasetFilename');
            if (currentDatasetFilename) {
                document.getElementById('currentDataset').textContent = currentDatasetFilename;
            } else {
                document.getElementById('currentDataset').textContent = 'No dataset loaded.';
            }
        });
    </script>
    <div id="loadingMessage" class="blinking" style="display: none;">Working with your graphs...</div>
    <select id="conditionsDropdown">
    </select>
    <select id="secondConditionDropdown">
        <option value="none">None</option>
        <!-- Options will be populated dynamically -->
    </select>    
    <select id="parametersDropdown">
    </select>    
    <button id="showPlot3Button" onclick="showPlot3()">Show Classification Plots</button>
    <br>
    <label for="percentageInput" style="font-size: 0.8em;" width="120px">Min Tracks Length (%) :</label>
    <input type="number" id="percentageInput" min="1" max="100" value="50" style="font-size: 0.6em;">
    <div class="form-group">
        <label for="yMin" style="font-size: 0.8em;">Y Range: </label>
        <input type="number" step="any" id="yMin" placeholder="min" style="font-size: 0.6em;">
        <input type="number" step="any" id="yMax" placeholder="max" style="font-size: 0.6em;">
    </div>
    <label for="normalizationDropdown" style="font-size: 0.8em;">Normalization :</label>
    <select id="normalizationDropdown">
        <option value="none">none</option>
        <option value="t0">to 1st timepoint</option>
        <option value="custom">custom</option>
        <option value="delta">delta</option>
    </select>
    <label for="thresholdInput" style="font-size: 0.8em;" width="120px">Threshold :</label>
    <input type="number" id="thresholdInput" min="-1000" max="1000" value="15" style="font-size: 0.6em;">
    <div id="customRange" style="display: none;">
        <label for="rangeStart" style="font-size: 0.8em;">custom: Range Start:</label>
        <input type="number" id="rangeStart" name="rangeStart" min="0" value="0" style="font-size: 0.6em;">
        <label for="rangeEnd" style="font-size: 0.8em;">Range End:</label>
        <input type="number" id="rangeEnd" name="rangeEnd" min="0" value="4" style="font-size: 0.6em;">
    </div>      
    <div id="plotArea3" style="display: none;"> <!-- This is the new plot area for plot 3 -->
        <img id="plotImage3" src="">
    </div>
    <a href="/download">Download results</a>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="static/js/backward.js"></script>
</body>
</html>
