<!DOCTYPE html>
<html lang="en">
<head>
    <title>Cleaner - Backward Analysis of Time-Lapse Images</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <style>
        #plateName,
        #measurement,
        #evaluation,
        #population,
        #numberOfWells,
        #numberOfTimepoints,
        #numberOfCells,
        #elapsedTime {
          font-size: 12px;
          line-height: 0.5;
        }
    </style>
</head>
<body>
    <nav>
        <a href="loader.html">Loader</a>
        <a href="viewer.html">Viewer</a>
        <a href="backward_analysis.html">Backward Analysis</a>
    </nav>
    <h2>Dataset Cleaner</h2>
    <input type="file" id="fileInput" accept=".txt">
    <button onclick="loadDataset()">Load Opera Dataset</button>
    <h2>Dataset</h2>
    <div id="loadingMessage" class="blinking" style="display: none;">Working with your dataset...</div>
    <p id="plateName"></p>
    <p id="measurement"></p>
    <p id="evaluation"></p>
    <p id="population"></p>
    <p id="numberOfWells"></p>
    <p id="numberOfTimepoints"></p>
    <p id="numberOfCells"></p>
    <p id="elapsedTime"></p>
    </div>
    <h2>Standarize Parameter Names</h2>
    <form id="renameForm" onsubmit="renameColumns(event)">
    <div id="renameFields"></div>
    <button type="submit">Rename Parameters</button>
    </form>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="{{ url_for('static', filename='js/cleaner.js') }}"></script>
</body>
</html>