<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome - Backtracking Analysis of Time-Lapse Images</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico" />
    <style>
        /* The existing styles will remain here */
    </style>
</head>
<body>
    <nav>
        <a href="/" class="nav-home">
            <img src="/static/batli_logo_alpha.png" alt="BATLI Logo" class="nav-logo">
        </a>
        <a href="/instructions" class="blinking-arrow">→ Instructions</a>
        <a href="/cleaner">Cleaner</a>
        <a href="/loader">Loader</a>
        <a href="/viewer">Viewer</a>
        <a href="/backward">Backtracking</a>
    </nav>
    <div class="container">
        <img src="/static/batli_logo.png" alt="BATLI Logo" class="logo">
        <h2>Welcome to BATLI</h2>
        <p>Your scientific tool to perform Backtracking Analysis of Time-Lapse Images.</p>
        <div class="credits">
            <p>Developed by the MHBI Team at the BBI Unit - Institut Pasteur - Paris - France</p>
        </div>
        <div class="copyright">
            <p>&copy; 2023 Institut Pasteur. All rights reserved.</p>
        </div>
    </div>
</body>
</html>

