<!DOCTYPE html>
<html lang="en">
<head>
    <!-- rest of the header from the original file -->
    <title>Loader - Backward Analysis of Time-Lapse Images</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico" />
    <style>
        #plateName,
        #measurement,
        #evaluation,
        #population,
        #numberOfWells,
        #numberOfTimepoints,
        #numberOfCells,
        #elapsedTime {
          font-size: 12px;
          line-height: 0.5;
        }
    </style>
</head>
<body>
    <nav>
        <a href="/cleaner">Cleaner</a>
        <a href="/viewer">Viewer</a>
        <a href="/backward_analysis">Backward Analysis</a>
    </nav>
    <h2>Dataset Loader</h2>
    <input type="file" id="cleanedFileInput" accept=".csv">
    <button onclick="loadCleanedDataset()">Load Cleaned Dataset</button>
    <h2>Dataset</h2>
    <div id="loadingMessage" class="blinking" style="display: none;">Working with your dataset...</div>
    <p id="plateName"></p>
    <p id="measurement"></p>
    <p id="evaluation"></p>
    <p id="population"></p>
    <p id="numberOfWells"></p>
    <p id="numberOfTimepoints"></p>
    <p id="numberOfCells"></p>
    </div>
    <div id="plotArea" style="display: none;"> <!-- Set the style to none to hide it initially -->
        <img id="plotImage" src="" alt="Plot of number of unique cells per well">
    </div>
    <div id="plotArea2" style="display: none;"> <!-- This is the new plot area for plot 2 -->
        <img id="plotImage2" src="" alt="Plot 2">
    </div>
    <table id="first-rows-table">
        <tbody></tbody>
    </table>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="static/js/loader.js"></script>
</body>
</html>
